body {
  background-color: #f5f7fa;
  background-color: hsl(210, 33%, 97%);
  font-family: 'Poppins', sans-serif;
  font-size: 100%;

}

h1{
  color: hsl(234, 12%, 34%);
  text-align: center;
  font-weight: 600;
  width: 100%;
  margin: 0 auto 35px;
}

h2{
  color: grey;
  text-align: center;
  font-weight: 100;
  width: 100%;
  letter-spacing: 0.125em;
  font-size: 25px;
  margin-bottom: 0;
}

h3{
  color: black;
  width: 100%;
}

p{
  color: grey;

}

.header {
  width: 28%;
  margin: auto;
  padding-top: 10px;
  text-align: center;
  color: grey;

}


.description{
  width: 30%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
  color: hsl(229, 6%, 66%);

}

.title {
  font-weight: lighter;
  font-size: 2rem;
  padding-top: 100;
}


.cards {
  position: relative;
  padding: 10px 0;
  /*this is the parent of the boxes, padding used to prevent margin collapsing*/
}


.supervisor {
  border-top: 5px solid green;
  border-top: 5px solid hsl(180, 62%, 55%);
  border-radius: 10px;
  background-color: #FFFFFF;
  background-color: hsl(180, 100%, 99%);
  width: 325px;
  height: 215px;
  text-align: left;
  padding: 20px;
  position: absolute;
  left: 300px;
  top: 175px;
  box-shadow: 0 15px 30px 2px #D3D3D3;

}

.teambuilder {
  border-top: 5px solid red;
  border-top: 5px solid hsl(0, 78%, 62%);
  border-radius: 10px;
  background-color: #FFFFFF;
  background-color: hsl(180, 100%, 99%);
  width: 325px;
  height: 215px;
  text-align: left;
  padding: 20px;
  margin: 0 auto 50px;
  box-shadow: 0 15px 30px 2px #D3D3D3;
}

.karma {
  border-top: 5px solid orange;
  border-top: 5px solid hsl(34, 97%, 64%);
  border-radius: 10px;
  background-color: #FFFFFF;
  background-color: hsl(180, 100%, 99%);
  width: 325px;
  height: 215px;
  text-align: left;
  padding: 20px;
  margin: 0 auto 50px;
  box-shadow: 0 15px 30px 2px #D3D3D3;
}

.calculator {
  border-top: 5px solid blue;
  border-top: 5px solid hsl(212, 86%, 64%);
  border-radius: 10px;
  background-color: #FFFFFF;
  background-color: hsl(180, 100%, 99%);
  width: 325px;
  height: 215px;
  text-align: left;
  padding: 20px;
  position: absolute;
  right: 300px;
  top: 175px;
  box-shadow: 0 15px 30px 2px #D3D3D3;
}

.imgsupervisor{
  float: right;
  position: relative;
  border-bottom: 30px;
  padding-top: 10px;

}

.imgteam{
  float: right;
  position: relative;
  border-bottom: 30px;
  padding-top: 10px;
}

.imgkarma{
  float: right;
  position: relative;
  border-bottom: 30px;
  padding-top: 10px;
}

.imgcalculator{
  float: right;
  position: relative;
  border-bottom: 30px;
  padding-top: 10px;
}

.attribution{
  width: 100%;
  margin: auto;
  text-align: center;

}
